.footer{
    background-color: #e2d8f8;
    padding: 2rem;
    margin-top: 1rem;

}
.footer-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
}
.footer-brand-detail{
    max-width: 200px;
}

.footer-list{
    padding-left: 0px;
    list-style: none;

}
.footer-item{
    margin-top: 1.5em;
    margin-left: 1rem;
}
.footer-head{
    font-size: 1.2rem;
    font-weight: 800;
}
.footer-list-item-link{
    font-size: 1rem;
    cursor: pointer;
}
.footer-list-item-link:hover{
    text-decoration: underline;
}
.footer-brand-name{
    font-size: 1.2rem;
    font-weight: 700;
}
.footer-logo{
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    margin-right: 4px;
}
.footer-sml-center-txt{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    padding-top: 1.5rem;
    text-align: center;
}
.footer-sml-txt-link{
    margin-left: 1ch;
}
@media (max-width:600px) {
    .footer-brand-detail{
        max-width: 100%;
    }
    
}