.header-container{
    display: flex;
    padding: 2rem;
    width: 80%;
    margin: auto;
    align-items: center;
}
.intro-header{
    width: 100%;
    background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
}
.header-left{
    width: 50%;
}
.header-right{
    width: 50%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-weight: 800;
    font-size: 2rem;
}
.header-left-head-txt{
    font-weight: 700;
    margin-top: .5rem;
}
.header-left-sub-txt{
    margin-top: 6px;
    font-size: 16px;
}
.header-left-btn{
    color:blue ;
    border-color: blue;
    padding: 8px 16px;
    margin-left: 0px;
    margin-top: 1rem;
}
.header-left-btn:hover{
    border: 0px;
}
@media (max-width:450px) {
    .header-container{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .header-left{
        min-width: 250px;
    }
}
